<div class="chitietbanh chitietbanhmobile">  
    <div *ngIf="responsive" class="hopbanhvagiatien">
      <div class="hopbanh hopbanhmobile">
        <img src='../../assets/DaYenhop.png'>
      </div>
    </div>
    <div class="tenvachitietbanh">
      <div id='boxshadow' class="giatien topmargin boxmobile">
        <img src='../../assets/DaYenprice.png'>
      </div>
      <div class="vibanh">                 
        <table>
          <tr>
            <td><span>
            </span> Dịp Tết Nhâm Dần 2022, Hoang Yen Group tự hào
            với sự ra mặt của Bộ sưu tập Hộp Quà Tết “ Nhâm Dần Đón Lộc Bình An”
            với đa dạng thiết kế, sang trọng và tinh tế ghém trọn vẹn tinh hoa
            văn hóa Việt Nam kết hợp các sản phẩm nhập khẩu đem lại sự mới mẻ.
        </td>
          </tr>           
        </table>
      </div>
    </div>
    <div *ngIf="!responsive" class="hopbanhvagiatien">
      <div class="hopbanh DYhop">
        <img width=100% src='../../assets/DaYenhop.png'>
      </div>
    </div>
  </div>