<div class="">
    <div *ngIf="!responsive" class="">
      <div class="">
        <img src='../../assets/TY1 hinh@4x.png'>
      </div>
    </div>
  </div>
 
 <div class="">
  <div id='boxshadow' class="giatien topmargin">
    <img src='../../assets/TY box.png'>
  </div>
  <div id='boxshadow' class="giatien topmargin">
    <img src='../../assets/TY gia.png'>
  </div>       
        <div class="">
        Mang hình ảnh ngọt ngào của chú thỏ trông trăng, luôn xuất 
        hiện bên cạnh chị Hằng dịp Trung Thu, thỏ ngọc là biểu tượng 
        của sự an lành, sung túc và may mắn. Tiểu Yến là mong ước 
        may mắn và hạnh phúc chân thành nhất gửi đến những người 
        thân yêu, niềm tin và hy vọng cho những dự định sắp tới sẽ 
        hoàn thành viên mãn. 
      </div>  
</div>

<div class="chitietbanh">
  <div *ngIf="responsive" class="hopbanhvagiatien">
    <div class="hopbanh">
      <img src='../../assets/TY1 hinh@4x.png'>
    </div>
  </div>
  <div class="tenvachitietbanh">
    <div id='boxshadow' class="giatien topmargin">
      <img src='../../assets/TY1@4x.png'>
    </div>
   
    <div class="vibanh">                 
     <table>
        <tr>
          <td><span><img height=16px src='../../assets/iconhqt.png'></span> Nho xí muội cay(*)</td>
        </tr>
        <tr>
          <td><span><img height=16px src='../../assets/iconhqt.png'></span> Hạt sen sấy(*)</td>
        </tr>
        <tr>
          <td><span><img height=16px src='../../assets/iconhqt.png'></span> Xoài sấy dẻo(*)</td>      
        </tr>
        <tr>
          <td><span><img height=16px src='../../assets/iconhqt.png'></span> Hạt điều rang muối(*)</td>
        </tr>

      </table>
    </div>
  </div>
  <div *ngIf="!responsive" class="hopbanhvagiatien">
    <div class="hopbanh">
      <img src='../../assets/TY1 hinh@4x.png'>
    </div>
  </div>
</div>